@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');


:root {
    --site-gray: #5E807F;
    --site-green: #88d18b81;
    --site-black: #342E37;
    --site-white: #edf0f1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
    background-color: var(--site-gray);
}

li, a {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.5vw;
    color: var(--site-white);
    text-decoration: none;
    background-color: var(--site-black);
}

button {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
    color: var(--site-white);
    text-decoration: none;

    margin-left: 20px;
    padding: 10px 25px;
    background-color: rgb(136, 209, 138);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: var(--site-green);
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 50px 10%;
    background-color: var(--site-black);
}

.logo {
    cursor: pointer;
    margin-right: auto;
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 25px;
    background-color: #88D18A;
    transition: all 0.3s ease 0s;
}

.logo:hover {
    background-color: var(--site-green);
}

.title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 3vw;
    color: var(--site-white);
    padding-left: 2vw;
    text-decoration: none;
    background-color: var(--site-black);
    margin-right: auto;
    text-align: center;
}

.subtitle {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 5vw;
    color: var(--site-white);
    padding: 60px 5%;
}

.text {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-size: 2vw;
    color: var(--site-white);
    padding: 0px 5%;
}

li, button, .title, .logo {
    animation: fadeNav ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.subtitle, .text {
    animation: fadeNav ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeNav {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

.nav-list {
    list-style: none;
    background-color: var(--site-black);
}

.nav-list li {
    display: inline-block;
    padding: 0px 1vw;
}

.nav-list li a {
    transition: all 0.3s ease 0s;
}

.nav-list li a:hover {
    color: #88D18A;
}